{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h2 class="title is-size-2-desktop is-size-3-touch">Helpdesk Klimaat</h2>
        <h3 class="subtitle is-size-4-desktop is-size-5-touch">{% blocktrans %}All the questions you may have
          regarding climate breakdown, global warming, answered by experts.{% endblocktrans %}</h3>
      </div>
    </div>
  </section>
  <main class="section">
    <div class="container">
      <div class="tabs">
        <ul>
          <li class="is-active"><a>{% trans "Top" %}</a></li>
          <li><a>{% trans "New" %}</a></li>
        </ul>
      </div>
      <div class="columns">
        <main class="column">
          <article class="media boxed">
            <div class="media-left">
              <div class="align-center">
                <i class="fas fa-eye"></i><br>
                123
              </div>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>What is happening to our planet as a result of global warming?</strong>
                  <br>
                  The planet is getting warmer and warmer, Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Maecenas nec egestas odio, sed ullamcorper tortor. Fusce sed ultrices tortor. Cras ... <a
                        href="{% url 'questions:question' %}">read
                  more</a>
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
                  </a>
                  <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
          <article class="media boxed">
            <div class="media-left">
              <div class="align-center">
                <i class="fas fa-eye"></i><br>
                123
              </div>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>What is happening to our planet as a result of global warming?</strong>
                  <br>
                  The planet is getting warmer and warmer, Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Maecenas nec egestas odio, sed ullamcorper tortor. Fusce sed ultrices tortor. Cras ... <a
                        href="{% url 'questions:question' %}">read
                  more</a>
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
                  </a>
                  <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
          <article class="media boxed">
            <div class="media-left">
              <div class="align-center">
                <i class="fas fa-eye"></i><br>
                123
              </div>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>What is happening to our planet as a result of global warming?</strong>
                  <br>
                  The planet is getting warmer and warmer, Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Maecenas nec egestas odio, sed ullamcorper tortor. Fusce sed ultrices tortor. Cras ... <a
                        href="{% url 'questions:question' %}">read
                  more</a>
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
                  </a>
                  <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </main>
        <aside class="column is-one-quarter sidebar">
          <div class="boxed sidebar-box">
            <h4 class="title section-title">Categories</h4>
            <ul class="sidebar-categories">
              <li><a>Temperature Raise</a></li>
              <li><a>Politics</a></li>
              <li><a>CO2</a></li>
            </ul>
          </div>
          <div class="boxed sidebar-box">
            <h4 class="title section-title">Ask your question</h4>
            <p class="subtitle">Didn't find the answer you were looking for? Submit your own question!</p>
            <a class="button is-primary" href="{% url 'questions:ask' %}">Ask a Question</a>
          </div>
        </aside>
      </div>
    </div>
  </main>
  <div class="section">
    <div class="container">
      <header class="header">
        <div class="header-title"><h1 class="title">{% trans "Meet an expert" %}</h1></div>
        <p class="subtitle is-4">Get to know one of the many experts answering questions</p>
      </header>
      <div class="boxed media">
        <div class="media-left">
          <figure class="image is-48x48"><img src="{% static 'images/portrait_placeholder.png' %}"
                                              alt="Profile Picture"/></figure>
        </div>
        <div class="media-content content">
          <div class="expert-title">
            <strong>Expert Number 1</strong>
            <time>Answering questions since 2019</time>
          </div>
          <div class="expert-bio">Aliquam rhoncus ex tortor, nec tristique nunc maximus vel. Duis mi dui, malesuada quis
            ligula eget, auctor tincidunt dolor. Praesent odio justo, mollis sit amet ornare sed, bibendum ut nunc.
            Fusce neque ligula, ornare in lobortis quis, cursus a erat. Nam quis dui ultrices, efficitur turpis vel,
            iaculis ex.
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <a class="button is-active is-primary">See all our experts</a>
    </div>
  </div>
{% endblock %}
