{% extends "base_old.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <h1>Assign handler to question</h1>
    <div class="row">
      <div class="col-12">
        When you assign a handler to a question, the handler will be able to assign an expert to answer it and a reviewer to follow up. In this way, handlers will have a list of questions to follow up, with different update status.
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        {{ question.question }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <form method="post" class="form">{% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="Assign">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Or <a href="{% url 'users:create-user' %}?next={{ request.path }}">Create one</a>
      </div>
    </div>
  </div>
{% endblock %}
