{% extends 'moderation/base.html' %}
{% load static i18n bulma_tags %}
{% block content %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <main class="column">
          <h2 class="title">{% trans "Assign an Expert" %}</h2>
          <p>{% blocktrans %}Select who is going to answer the question. The expert will get an automatic e-mail with
            information on how to proceed.
          {% endblocktrans %}</p>
          <article class="media boxed">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{ question.question }}</strong>
                  <br>
                  {% if question.asked_by %}Asked by: {{ question.asked_by }} {% endif %}
                </p>
              </div>
            </div>
          </article>
          <form method="post" class="form boxed">
            {% csrf_token %}
            {{ form|bulma }}
            <button class="button is-primary">{% trans "Assign Expert" %}</button>
          </form>
        </main>
        {% include 'moderation/includes/aside.html' %}
      </div>
    </div>
  </section>
{% endblock %}
